<?xml version="1.0"?>
<config>
    <modules>
        <BigHippo_Customer>
            <version>0.1.0</version>
        </BigHippo_Customer>
    </modules>

    <global>
        <blocks>
            <bighippo_customer>
                <class>BigHippo_Customer_Block</class>
            </bighippo_customer>
            <customer>
                <rewrite>
                    <form_login>BigHippo_Customer_Block_Rewrite_Form_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <bighippo_customer>
                <class>BigHippo_Customer_Model</class>
            </bighippo_customer>
        </models>
    </global>
</config>
